@import "src/styles/settings/_global";
:root {
  --padding-y: 55px;
  --padding-x: 28px;
  @include media-breakpoint-up(xl) {
	--padding-y: 75px;
	--padding-x: 48px;
  }
  .no-detect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
  }
}
/* Overlay */
.popup-overlay {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: 1000; /* Ensure it is on top */
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  backdrop-filter: blur(5px);
}

/* Popup Content */
.popup-content {
  font-family: 'Poppins', sans-serif;
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  position: relative;
}

/* Close Button */
.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Show Overlay */
.popup-overlay.show {
  display: flex; /* Show the popup */
}
.pop-up-locals {
  list-style: none;
  padding: 0px;
  margin-top: 25px;
}
.popup-title{
  font-size: 24px;
  color: #173800;
  font-weight: 500;
}
.pop-up-locals-single {
  border: 1px solid #EBEBEB;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}
.pop-up-locals-single-top-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pop-up-locals-single-content-name {
  color: #173800;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.pop-up-locals-single-content-address{
  color: #326F09;
  font-size: 16px;
}
.menu-main-logo{
  img{
    height: 100px;
  }
}
.menu-a-link {
  height: 100%;
  &:hover{
    background-color: #132E00;
    transition: 0.3s;
  }
}
.menu-top-area{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  margin-right: 10%;
}
.menu-top-area-contact-txt{
  font-weight: 400;
  font-size: $font14;
  line-height: 16.8px;
  color: $fontGreenMenuBackground;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}
.contact-phone-icon::before{
  content: '';
  background:  url(../assets/img/phone-icon.svg) no-repeat 0 0;
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  margin-right: 10px;
}
.contact-mail-icon::before{
  content: '';
  background:  url(../assets/img/mail-icon.svg) no-repeat 0 0;
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  margin-right: 10px;
}
.menu-top-area-social-icon{
  width: 16px;
  height: 16px;
}
.main-menu{
  background-color: #173800;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-main-menu-list{
  height: 100%;
}
.menu-main-menu-container{
  height: 100%;
}
.menu-list-desktop {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
  margin-right: 15%;
  li{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: $font16;
    line-height: 24px;
    color: #FFF4E8;
    list-style: none;
    padding: 15px 35px;
    height: inherit;
    align-content: center;
  }
  .menu-subscription{
    background-color: #1782FF;
    &:hover{
      background-color: #173CFF;
      transition: 0.3s;
    }
  }
  .menu-order-online{
    background-color:#FF7F1A;
    &:hover{
      background-color: #FF511A;
      transition: 0.3s;
    }
  }
}
.header__desktop {
  padding-top:10px;
  position: sticky;
  width: 100%;
  z-index: 1;
  top:0;
  text-align: center;
  background-color: #FFF4E8;
}
.header__mobile{
  display:none;
}
.header__navbar{
  padding-top:30px;
}
.navbar-expand-xl .navbar-collapse{
  justify-content: center;
}
.menu__logo{
  margin-top:30px;
}
.nav-link {
  display: initial !important;
}
.navbar-expand-xl .navbar-nav{
  gap:20px;
  padding-top: 15px;
}
@media only screen and (max-width: 1440px) and (min-width: 900px) {
  .header {
    padding-top:19px;
  }
  .header__navbar{
    padding-top:26px;
  }
  .menu__logo{
    margin-top:24px;
  }
  .navbar-expand-xl .navbar-nav{
    gap:50px;
  }
}
@media (max-width: 1199px) {
  #wrapper-navbar {
    overflow: hidden;
    background-color: #173800;
  }
  #navbarNavDropdown .featured {
    display: block !important;
  }
  .navbar-nav {
    gap: 0px !important;
  }
  .header__navbar{
    padding-bottom: 0px;
  }
  .nav-link{
    color:white;
  }
  .menu-subscription{
    background-color: #1782FF;
  }
  .menu-order-online{
    background-color:#FF7F1A;
  }
  .menu-item {
      padding: 15px;
  }
}
.navbar-toggler-icon{
  $iconBurger: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255,255,255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' fill='#fff' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  background-image:  #{$iconBurger};
  opacity: 1;
}
.navbar-toggler-icon.cancel {
  $iconCancel: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'><path fill='#fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4  L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1  c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1  c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z'/></svg>");
  background-image: #{$iconCancel};
  opacity: 1;
}
.navbar-toggler:focus{
  box-shadow: none;
}

@media only screen and (max-width: 900px){
  .header__desktop{
    display: none;
  }
  .header__mobile{
    display:block;
    .header__logo {
      margin-left: 30px;
      img {
        width: 100px;
        margin-left: 4px;
        margin-top: -2px;
      }
    }

    button.navbar-toggler {
      border: none;
      margin-right: 30px;
    }
  }
}
// footer
.footer{
  background-color: $fontGreenFooterBackground;
  padding-top: 140px;
  padding-bottom: 129px;
  .footer-logo{
    height:100%;
    width: 100%;
    img{
      width: 200px;
    }
  }
  .footer-business-info-details-txt{
    color:$fontLight;
    font-size: $font12;
    line-height: 22px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0px;
    a{
      color: $fontLight;
    }
  }
  .footer-business-info-txt-title{
    font-weight: 500;
    font-size: $font14;
    line-height: 21px;
    color:$fontLight;
  }
  .footer-contact-details-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: max-content;
  }
  .footer-contact-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .footer-contact-details-container-area {
    display: flex;
    gap: 30px;
  }
  .footer-contact-details{
    width: max-content;
    a{
      display: flex;
      align-items: center;
      font-size: $font16;
      line-height: 22px;
      color: $footerContactTxtGreen;
    }
  }
  .footer-phone{
    a::before{
      content: '';
      background:  url(../assets/img/phone-footer-icon.svg) no-repeat 0 0;
      width: 32px;
      height: 32px;
      display: inline-block;
      position: relative;
      margin-right: 10px;
    }
  }
  .footer-email{
    a::before{
      content: '';
      background:  url(../assets/img/mail-footer-icon.svg) no-repeat 0 0;
      width: 32px;
      height: 32px;
      display: inline-block;
      position: relative;
      margin-right: 10px;
    }
  }
  .footer-social-icons{
    margin-top: 60px;
    gap: 30px;
    display: flex;
  }
  .footer-top-area-social-icon{
    width:20px;
    height: 20px;
  }
  .footer-bottom-area{
    margin-top: 100px;
    border-top: 1px solid #9A9083;
  }
  .footer-bottom-row{
    display: flex;
    align-items: flex-end;
  }
  .menu-footer-menu-container {
    margin-top: 30px;
    .footer-menu{
      padding-left: 0px;
      gap:20px;

      a{
        color: $fontLight;
        font-size: $font14;
        line-height: 16.7px;
        font-weight: 400;
      }
    }
    li {
      list-style: none;
    }
  }
  .footer-bottom-implementation{
    a{
      color: $fontLight;
      font-size: $font14;
      line-height: 16.7px;
      font-weight: 400;
      display: flex;
      gap: 15px;
      flex-direction: row;
      align-items: center;
    }
    img{
      width: 76px;
      height: 15px;
    }
  }
}

@media only screen and (max-width: 1440px) and (min-width: 900px){}
@media only screen and (max-width: 900px){
  .footer{
    padding: 30px 0px;

    .footer-logo{
      width:auto;
      height: auto;
      text-align: center;
    }
    .copy__mobile{
      display: block;
    }
    .copy__desktop{
      display: none;
    }
    .footer-business-info-txt-title{
      font-size: $fontMobile28;
    }
    .footer-business-info-details-txt{
      font-size: var(--font14);
    }
    .footer-contact-container {
      align-items: flex-start;
    }
    .footer-contact-details{
      a{
        font-size: var(--font16);
      }
    }
    .footer-email{
      margin-bottom: 10px;
    }
    .footer-top-area-social-icon {
      height: 90px;
      width: 90px;
    }
    .row-footer-social-icons{
      align-self: center;
    }

    .footer-bottom-area{
      margin-top:50px;
      .menu-footer-menu-container{
        .footer-menu{
          flex-direction: column !important;
          gap:0px;
          li{
            padding: 0px;
            margin-left: 15px;
            a{
              font-size: var(--font16);
            }
          }
        }
      }
    }
    .footer-bottom-implementation{
      a{
        justify-content: flex-end;
        font-size: var(--font16);
      }
      img{
        height: 14px;
        width: auto;
      }
    }
  }
}
@media only screen and (min-width: 900px){
  .header__navbar{
    display: none;
  }
}